html{
  scroll-behavior: smooth;
}
body{
  background-color: #F5DEB3;  
}

.logo{
  padding-top: 1%;
  padding-bottom: 1%;
}

.menu, footer{
  background-color: #7a5d23; 
  padding: 1.5%;
  font-family: 'Cookie', cursive;
}

.itens_menu{
  line-height: 1.5;
  text-align: center;
}

.itens_menu a{
  font-size: 1.2em;
}

.itens_menu a:link, .itens_menu a:visited{ 
    color: #fff;
    text-decoration: none;
  }  
  /* mouse over link */
.itens_menu a:hover {
    color: #fff;
    padding: 0.8%;    
    background-color: rgba(128, 128, 128, 0.3); 
    text-decoration: none;
    border-radius: 15%;

  }
  
  /* selected link */
.itens_menu a:active {
    color: #FFF;
    text-decoration: none;
  }

section a:link{
  color: #3CB371;
}

section a:visited {
  color: #3CB371; 
}

section a:hover{
  color: #3a5739;
}


.fundo_diferente{
  background-image: linear-gradient(to right, #8ed6a6 , #fff);
}

.img_topo{
  width: 75%;
}

.img_corpo{
  width: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
}

figure{
    text-align: center;
}

.container{
  width: 80%;
  margin: auto;
}

h1{
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-family: 'Gloria Hallelujah', cursive;
}

h2{
  text-align: center;
  color: 	#2c1b0c;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 2%;
  font-family: 'Gloria Hallelujah', cursive;
}

p{
  font-size: 1.4em;
  color: #8B4513;
  text-align: justify;
  text-indent: 40px;
  line-height: 1.5;
  font-family: 'Cookie', cursive;
}

.parag_letras > p{

  font-size: 1em;
  line-height: 1.5;
}

.pinta_botao{
  width: 150px;
  height: 40px;
  background-color: #dac258;
  margin: auto; 
  padding: 0.2%;
  text-align: center;  
  padding-top: 3%; 
      
}

.pinta_botao:hover{
  background-color: rgba(128, 128, 128, 0.3);
}

.pinta_botao a:link, .pinta_botao :visited{
  text-align: center;
  text-decoration: none ; 
  font-weight: bolder;   

}

footer p{

  font-size: 1.2em;
  text-align: center;

}

.textoFooter{
  color: #3CB371;
}

section{
  margin-top: 2%;
  margin-bottom: 2%;
}

.escondido{
  display: none;
}

.direita{
  float:right;
  width: 28%;
  margin-left: 2%;

}

.esquerda{
  float: left;
  width: 30%;
  
  margin-right: 2%;
}

table{
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  ;
}

td,th{
  border: 5px;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: center;
  border-style: dotted;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.borda_form{
  background-color: rgba(128, 128, 128, 0.3) ;
  padding: 20px;
  border-radius: 25px;
  margin-top: 1%;
  box-sizing: border-box;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: 'Gloria Hallelujah', cursive;
}

input[type=text], select, textarea, input[type=tel], input[type=email] {
  width: 96%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-family: 'Gloria Hallelujah', cursive;
  resize: vertical;
}


.col-25{
width: 25%;
float: left;
margin-top: 6px;

}

.col-75{
width: 75%;
float: left;
margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=submit] {
  background-color: #8B0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: black;
  font-weight: bolder;
 
}

.botaoform{
  margin-top: 3%;
}


@media screen and (max-width:450px) {

  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
   
  }

 

  
}
